<a href="https://colab.research.google.com/github/LukasSchmauch/bin_packing_problem/blob/main/Results.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 30 Iterationen (Triplet)

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/LukasSchmauch/bin_packing_problem/main/results_30Iter_Unif_Trip.csv'
df = pd.read_csv(url)
df_grouped = df.groupby(['Typ', 'Anzahl Items'])
df_grouped.columns = ['Bin-Kapazitaet', ' Mean LB', 'Mean Hill Climbing', 'Mean First Fit Descending','Mean Abs. LB HC', 'Mean Abs. LB FFD', 'Mean Zeit HC (sec)', 'Mean Zeit FFD (sec)']
df_grouped.mean()

                      Bin-Kapazitaet     LB  ...  Zeit HC (sec)  Zeit FFD (sec)
Typ     Anzahl Items                         ...
triplet 60                    1000.0   20.0  ...         0.0000            0.00
        120                   1000.0   40.0  ...         0.0095            0.00
        249                   1000.0   83.0  ...         0.0215            0.01
        501                   1000.0  167.0  ...         0.0715            0.03

[4 rows x 8 columns]

# 100 Iterationen

In [2]:
import pandas as pd
url = 'https://raw.githubusercontent.com/LukasSchmauch/bin_packing_problem/main/results_unif_trip_100.csv'
df = pd.read_csv(url)
df_grouped = df.groupby(['Typ', 'Anzahl Items'])
df_grouped.columns = ['Bin-Kapazitaet', ' Mean LB', 'Mean Hill Climbing', 'Mean First Fit Descending','Mean Abs. LB HC', 'Mean Abs. LB FFD', 'Mean Zeit HC (sec)', 'Mean Zeit FFD (sec)']
df_grouped.mean()

                      Bin-Kapazitaet      LB  ...  Zeit HC (sec)  Zeit FFD (sec)
Typ     Anzahl Items                          ...
triplet 60                    1000.0   20.00  ...         0.1875          0.0000
        120                   1000.0   40.00  ...         0.5015          0.0005
        249                   1000.0   83.00  ...         1.4960          0.0100
        501                   1000.0  167.00  ...         5.3355          0.0455
uniform 120                    150.0   49.05  ...         0.2700          0.0000
        250                    150.0  101.55  ...         1.7145          0.0100
        500                    150.0  201.20  ...         6.0005          0.0605
        1000                   150.0  400.55  ...        22.3255          0.2080

[8 rows x 8 columns]

# 1000 Iterationen (nur Uniform)

In [3]:
import pandas as pd
url = 'https://raw.githubusercontent.com/LukasSchmauch/bin_packing_problem/main/results_unif_1000.csv'
df = pd.read_csv(url)
df_grouped = df.groupby(['Typ', 'Anzahl Items'])
df_grouped.columns = ['Bin-Kapazitaet', ' Mean LB', 'Mean Hill Climbing', 'Mean First Fit Descending','Mean Abs. LB HC', 'Mean Abs. LB FFD', 'Mean Zeit HC (sec)', 'Mean Zeit FFD (sec)']
df_grouped.mean()

                      Bin-Kapazitaet      LB  ...  Zeit HC (sec)  Zeit FFD (sec)
Typ     Anzahl Items                          ...
uniform 120                    150.0   49.05  ...         2.9865          0.0000
        250                    150.0  101.55  ...        19.4125          0.0155
        500                    150.0  201.20  ...        77.5755          0.0625
        1000                   150.0  400.55  ...       258.2570          0.2320

[4 rows x 8 columns]